body {
  margin: 0;
  padding: 0;
  font-family: Consolas, Menlo;
  background-color: #000000; }

h1 {
  color: #D4D4D4;
  margin: 0 0 0.5em;
  font-size: 2em; }

h2 {
  color: #ABABAB;
  margin: 0 0 0.5em;
  font-size: 1.5em;
  font-weight: normal; }

p {
  margin: 0; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  margin-top: 2em; }

.row {
  padding: 10px; }

.col-12 p:last-child {
  margin-bottom: 20px; }

.logo {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin: 0; }

.logo:hover {
  color: #D4D4D4 !important; }

.big {
  display: inline; }

.small {
  display: none; }

@media screen and (max-width: 500px) {
  .big {
    display: none; }
  .small {
    font-size: 2em;
    display: inline; } }

.description {
  color: #8F8F8F; }

.description-2 {
  color: #8F8F8F; }

.code {
  color: #707070;
  margin-top: 0.2em;
  font-size: 1.1em; }

.sub {
  margin-left: 2em !important; }

.chapter {
  background-color: rgba(112, 112, 112, 0.4);
  margin-bottom: 2em;
  width: 100%; }

.active h1, .active h2 {
  color: #018E84; }

#sidebar-wrapper {
  background-color: #018E84; }
  #sidebar-wrapper a {
    background-color: #018E84;
    color: #D4D4D4; }
  #sidebar-wrapper a:hover {
    background-color: #003c37; }

nav {
  background-color: #018E84;
  height: 40px !important; }
  nav nav-link {
    color: #D4D4D4 !important; }

#menu-toggle {
  margin-right: 1em;
  cursor: pointer; }

.sub-menu {
  display: none; }
  .sub-menu a {
    padding-left: 2em; }
